Binaries/
Intermediate/
Saved/
DerivedDataCache/

Plugins/*/Binaries/
Plugins/*/Intermediate/
Plugins/*/Saved/

.vs/
.idea/
.vscode/
.vsconfig
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.code-workspace
*.DotSettings.user

*.log
*.tmp

!*.Build.cs
!*.Target.cs
!*.uproject